# Devnet is the safe default.
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com

# Set this to the destination wallet you control.
NEXT_PUBLIC_DESTINATION_WALLET=FNPzBZYfbaWodXXxHNoTporn88tFcooT8Rdfv9CJ221J
